@font-face {
    font-family: 'UnitOT';
    src: url("./UnitOT-Bold.woff2") format("woff2"), url("./UnitOT-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal; }
@font-face {
    font-family: 'UnitOT';
    src: url("./UnitOT-Regular.woff2") format("woff2"), url("./UnitOT-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: 'UnitOT';
    src: url("./UnitOT-Medium.woff2") format("woff2"), url("./UnitOT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal; }
